<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href='../static/style.css'>

</head>

<body>
  <div class="login">
  <h3>Movie Recommender</h3>

    <!-- Main Input For Receiving Query to our ML -->

    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="userID" placeholder="userID" required="required"/>
      <input type="text" name="Movie_Title" placeholder="Movie_Title" required="required"/>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
  </div>
</body>

</html>